*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    
}

button{
    cursor: pointer;
}